<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Mega.Synchronizer.Common.Properties.Settings.MegaAdminConnectionString"
      connectionString="Data Source=VM90_DESARROLLO;Initial Catalog=MegaAdmin;User ID=sa;Password=m3g4"
      providerName="System.Data.SqlClient" />
    <add name="Mega.Synchronizer.Common.Properties.Settings._7201ConnectionString"
      connectionString="Data Source=VNS-PC\SQLEXPRESS;Initial Catalog=7201;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>