<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mega.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Mega.Common.Properties.Settings.MegaAdminConnectionString"
            connectionString="Data Source=VM90_DESARROLLO;Initial Catalog=MegaAdmin;User ID=sa;Password=m3g4"
            providerName="System.Data.SqlClient" />
        <add name="Mega.Common.Properties.Settings._7201ConnectionString"
            connectionString="Data Source=VM90_DESARROLLO;Initial Catalog=MegaAdmin;User ID=sa;Password=m3g4"
            providerName="System.Data.SqlClient" />
        <add name="Mega.Common.Properties.Settings.MegaAdminConnectionString1"
            connectionString="Data Source=VM90_DESARROLLO;Initial Catalog=MegaAdmin;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <Mega.Common.Properties.Settings>
            <setting name="CFG_SYSTEM_ADMIN_ROLE_UDCITEM_KEY" serializeAs="String">
                <value>43</value>
            </setting>
            <setting name="CFG_USER_PSW_VALID_DAYS_UDCITEM_KEY" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ROLES_UDC_KEY" serializeAs="String">
                <value>ROL</value>
            </setting>
            <setting name="COUNTRIES_UDC_KEY" serializeAs="String">
                <value>CN</value>
            </setting>
            <setting name="POPULATION_UDC_KEY" serializeAs="String">
                <value>POP</value>
            </setting>
            <setting name="STATE_UDC_KEY" serializeAs="String">
                <value>STATE</value>
            </setting>
            <setting name="DIMTYPE_UDC_KEY" serializeAs="String">
                <value>DIMTYP</value>
            </setting>
            <setting name="MARITAL_STATUS_UDC_KEY" serializeAs="String">
                <value>MARSTA</value>
            </setting>
            <setting name="CFG_NULL_ROW_VALUE_UDCITEM_KEY" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="CURRENCY_UDC_KEY" serializeAs="String">
                <value>CURR</value>
            </setting>
            <setting name="SEX_UDC_KEY" serializeAs="String">
                <value>SEX</value>
            </setting>
            <setting name="OPERATION_TYPE_UDC_KEY" serializeAs="String">
                <value>TOPINV</value>
            </setting>
            <setting name="ExceptionMsgDuplicateKeyOnInsert" serializeAs="String">
                <value>key that is already in use</value>
            </setting>
            <setting name="ExceptionMsgDuplicateKeyOnInsert2" serializeAs="String">
                <value>duplicate key</value>
            </setting>
            <setting name="OPERATION_STATUS_UDC_KEY" serializeAs="String">
                <value>STATOP</value>
            </setting>
            <setting name="IVATYPE_UDC_KEY" serializeAs="String">
                <value>IVATYP</value>
            </setting>
            <setting name="CFG_BARCODE_MAX_SIZE_UDCITEM_KEY" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="CURRENCY_CHANGE_RATE_UDC_KEY" serializeAs="String">
                <value>CURCHG</value>
            </setting>
            <setting name="MOV_PAY_TYPE_UDC_KEY" serializeAs="String">
                <value>PAYTYP</value>
            </setting>
            <setting name="BANK_UDC_KEY" serializeAs="String">
                <value>BANK</value>
            </setting>
            <setting name="CFG_DIM_MAX_SIZE_UDCITEM_KEY" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="CFG_INVOICE_NAME_IN_TICKET_UDCITEM_KEY" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="IVAGROUP_UDC_KEY" serializeAs="String">
                <value>IVAGRP</value>
            </setting>
            <setting name="IVAVALUE_UDC_KEY" serializeAs="String">
                <value>IVAVAL</value>
            </setting>
            <setting name="WEB_SYNCH_KEY" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="INVENTORY_OP_TYPE_UDC_KEY" serializeAs="String">
                <value>TOPINV</value>
            </setting>
            <setting name="OPERATION_SUBTYPE_UDC_KEY" serializeAs="String">
                <value>SUBTYP</value>
            </setting>
            <setting name="DIFFUSION_MEDIA_UDC_KEY" serializeAs="String">
                <value>DIFFUS</value>
            </setting>
            <setting name="MAX_DAYS_RETURN_CONSIGNATION_UDC_KEY" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="DATA_GRIDVIEW_PAGE_SIZE" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="INVOICE_STATUS_PENDIENTE_XSA_UDCITEM_CODE" serializeAs="String">
                <value>INPEN</value>
            </setting>
            <setting name="INVOICE_STATUS_FACTURADO_XSA_UDCITEM_CODE" serializeAs="String">
                <value>INFAC</value>
            </setting>
            <setting name="INVOICE_TYPE_GENERAL_UDCITEM_CODE" serializeAs="String">
                <value>INGEN</value>
            </setting>
            <setting name="INVOICE_TYPE_INDIVIDUAL_UDCITEM_CODE" serializeAs="String">
                <value>ININD</value>
            </setting>
            <setting name="RFC_Company" serializeAs="String">
                <value>RFCCOM</value>
            </setting>
            <setting name="TIPO_COMPROBANTE_FISCAL" serializeAs="String">
                <value>COMPF</value>
            </setting>
            <setting name="TOKEN_XSA_CODE" serializeAs="String">
                <value>KEYXSA</value>
            </setting>
            <setting name="ID_SERIE_INVOICE" serializeAs="String">
                <value>SERIE</value>
            </setting>
        </Mega.Common.Properties.Settings>
    </applicationSettings>
</configuration>