<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Mega.Web.Synchronizer.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false" />
  </configSections>
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="Mega.Web.Synchronizer.Service.log"/>
      <appendToFile value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger – %message%newline"/>
      </layout>
    </appender>
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="ERROR"/>
        <foreColor value="Red, HighIntensity"/>
      </mapping>
      <mapping>
        <level value="DEBUG"/>
        <foreColor value="Green"/>
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger – %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="FileAppender"/>
      <appender-ref ref="ColoredConsoleAppender"/>
    </root>
  </log4net>
  <startup>

    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <applicationSettings>
    <Mega.Web.Synchronizer.Service.Properties.Settings>
      <setting name="MegaAdminConnectionString" serializeAs="String">
        <value>Data Source=.\sqlexpress2005;Initial Catalog=MegaAdmin;Integrated Security=True</value>
      </setting>
      <setting name="ImportURLFormat" serializeAs="String">
        <value>ftp://201.122.158.54/MegaFtp/OUT/{0}-PosExport.zip</value>
      </setting>
      <setting name="FtpUser" serializeAs="String">
        <value />
      </setting>
      <setting name="FtpPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="ExportURLFormat" serializeAs="String">
        <value>ftp://201.122.158.54/MegaFtp/IN/{0}-WebExport.zip</value>
      </setting>
      <setting name="PROCESS_PERIOD" serializeAs="String">
        <value>60000</value>
      </setting>
    </Mega.Web.Synchronizer.Service.Properties.Settings>
  </applicationSettings>
</configuration>
