<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Mega.POS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Mega.POS.Properties.Settings.MegaAdminConnectionString"
      connectionString="Data Source=VM90_DESARROLLO;Initial Catalog=MegaAdmin;Persist Security Info=True;User ID=sa;Password=m3g4"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <param name="File" value="Logs\\" />
      <param name="DatePattern" value="yyyy-MM-dd&quot;.log&quot;" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="StaticLogFileName" value="false" />
      <param name="maxSizeRollBackups" value="-1" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger – %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingFile" />
    </root>
  </log4net>
  <applicationSettings>
    <Mega.POS.Properties.Settings>
      <setting name="MailSmtpPort" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="MailFromName" serializeAs="String">
        <value>MegaPOS</value>
      </setting>
      <setting name="MailSSLEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MailSmtpNeedsAuthentication" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MailLogoImageName" serializeAs="String">
        <value>CompanyLogo.png</value>
      </setting>
      <setting name="MailDateFormat" serializeAs="String">
        <value>dd/MM/yyyy</value>
      </setting>
      <setting name="MailSmtpServer" serializeAs="String">
        <value>mail.megagdl.com.mx</value>
      </setting>
      <setting name="MailFromEMail" serializeAs="String">
        <value>megapos@megagdl.com.mx</value>
      </setting>
      <setting name="MailSmtpAuthenticationUser" serializeAs="String">
        <value>megapos@megagdl.com.mx</value>
      </setting>
      <setting name="MailSmtpAuthenticationPassword" serializeAs="String">
        <value>megapos</value>
      </setting>
      <setting name="MailAdminAddress" serializeAs="String">
        <value>deisbel@gmail.com</value>
      </setting>
      <setting name="ReportRenderMethod" serializeAs="String">
        <value>IMAGE</value>
      </setting>
      <setting name="EMFDeviceInfoOutputFormat" serializeAs="String">
        <value>EMF</value>
      </setting>
      <setting name="Mega_POS_mx_com_redmega_cfdi_FileReceiverService"
        serializeAs="String">
        <value>https://cfdi.redmega.com.mx/xsamanager/services/FileReceiverService</value>
      </setting>
      <setting name="TimeMinutesSendXSA_Automatic" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="Mega_POS_XSAService_FileReceiverService" serializeAs="String">
        <value>https://cfdi.redmega.com.mx/xsamanager/services/FileReceiverService</value>
      </setting>
      <setting name="CurrentShop" serializeAs="String">
        <value>9400</value>
      </setting>
      <setting name="CurrentCashier" serializeAs="String">
        <value>e337da9c-d0db-4c08-96c0-24e88626aa94</value>
      </setting>
      <setting name="DistribuitionData" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AmericaCenterCountry" serializeAs="String">
        <value>GTM</value>
      </setting>
    </Mega.POS.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>